@import '../../styles/variables.module.scss';

.alertError {
    background-color: rgb(255, 180, 180);
    font-family: 'Segoe UI' !important;
    position: fixed;
    z-index: 3000;
    bottom: 5rem;
    right: 5rem;
    font-size: 1.25rem !important;
    font-weight: 500;
    max-width: 100%;
    cursor: pointer;
}

.alertSuccess {
    background-color: rgb(170, 255, 170);
    font-family: 'Segoe UI' !important;
    position: fixed;
    z-index: 3000;
    bottom: 5rem;
    right: 5rem;
    font-size: 1.25rem !important;
    font-weight: 500;
    max-width: 100%;
    cursor: pointer;
}

.product {
    height: 100%;
    background-color: $bg-color;
    padding: 1rem 0 15rem 0;

    .container {
        display: flex;
        justify-content: center;
        align-items: top;
        gap: 2.5rem;
        margin: 15rem 2.5rem 0 2.5rem;

        .imgWrapper {
            height: auto;
            width: 60rem;
        }

        .productInfo {
            display: flex;
            flex-direction: column;
            max-width: 100%;

            .rating {
                margin-top: 1rem;
                font-size: 2rem;
            }

            button {
                background-color: $main-color;
                border-radius: 0;
                box-shadow: none;
                height: 5rem;
                width: 30rem;
                font-size: 1.5rem;
                margin-top: 2rem;
                transition: background-color .5s ease;
            }
    
            button:hover {
                background-color: $main-color-hover;
            }
        }


        h1 {
            font-size: 3.5rem;
            font-weight: 500;
            margin: 0;
            line-height: 3rem;
        }
        
        h2 {
            font-size: 3.25rem;
            font-weight: 500;
            margin: 0;
            color: $main-color;
        }
    
        h3 {
            font-size: 2rem;
            font-weight: 500;
            margin: 2rem 0 0 0;
        }
    
        p {
            font-size: 1.5rem;
            max-width: 40rem;
            margin: 0;
        }
    }
}

@media screen and (max-width: 981px) {
    .product {
        .container {
            .productInfo {
                button {
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .product {
        .container {
            .productInfo {
                button {
                    width: 30rem;
                }
            }
            h1 {
                font-size: 3.25rem;
            }
            
            h2 {
                font-size: 4em;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .product {
        height: 100%;
        padding-bottom: 10rem;
        
        .container {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .imgWrapper {
                width: 90vw;
            }

            .productInfo {
                text-align: center;
                align-items: center;

                button {
                    height: 5.5rem;
                    width: 90vw;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .alertError, .alertSuccess {
        width: 75vw;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 2.5rem;
    }

    .product {
        .container {
            .productInfo {
                h1 {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 2.5rem;
                }

                button {
                    width: 90vw;
                }

                .rating {
                    margin: 0;
                    margin-top: .5rem;
                    font-size: 2rem;
                }
            }
        }
    }
}