@import '../../styles/variables.module.scss';

.product {
    height: 100vh;
    background-color: $bg-color;
    padding: 1rem 0;

    .container {
        display: flex;
        justify-content: center;
        align-items: top;
        gap: 5rem;
        margin: 12.5rem 5rem 0 5rem;

        .imgWrapper {
            height: auto;
            width: 60rem;

            .imageLarge {
                height: auto;
                max-width: 100%;
                object-fit: contain;
            }
        }

        .productInfo {
            display: flex;
            flex-direction: column;
            max-width: 100%;

            .rating {
                margin-top: 1rem;
                font-size: 2.5rem;
            }

            .button {
                background-color: $main-color;
                height: 6rem;
                width: 25rem;
                margin-top: 2rem;
                transition: background-color .5s ease;
            }
    
            .button:hover {
                background-color: $main-color-hover;
            }
        }


        h1 {
            font-size: 6rem;
            margin: 0;
            line-height: 6rem;
        }
        
        h2 {
            font-size: 4rem;
            font-weight: 500;
            margin: 0;
            margin-top: 2rem;
            color: $main-color;
        }
    
        h3 {
            font-size: 6rem;
            margin: 0;
        }
    
        p {
            font-size: 2rem;
            max-width: 55rem;
            margin: 0;
        }
    }
}

@media screen and (max-width: 850px) {
    .product {
        height: 100%;
        padding-bottom: 10rem;
        
        .container {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .imgWrapper {
                width: 80vw;
            }

            .productInfo {
                text-align: center;
                align-items: center;

                .button {
                    width: 20rem;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .product {
        .container {
            .productInfo {
                h1 {
                    font-size: 5rem;
                }

                h2 {
                    font-size: 3.5rem;
                }

                p {
                    font-size: 1.75rem;
                }

                .button {
                    height: 5.5rem;
                    width: 20rem;
                }

                .rating {
                    margin: 0;
                    font-size: 2.25rem;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .product {
        .container {
            .productInfo {
                h1 {
                    font-size: 4.5rem;
                }

                h2 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.5rem;
                }

                .button {
                    height: 5.5rem;
                    width: 20rem;
                }

                .rating {
                    font-size: 2rem;
                }
            }
        }
    }
}