@import '../../../../styles/variables.module';

.productCard {
    max-width: 300px;
    margin-bottom: 8rem;

    .card {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.075);
        transition: all .5s ease;

        img {
            cursor: pointer;
        }
    
        .cardContent {
            margin: 1rem 0 1rem 1rem;
            color: $main-color;
    
            h5 {
                font-size: 2.4rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }
        
            h6 {
                font-size: 1.75rem;
                line-height: 0;
                margin-bottom: 2rem;
            }
        
            .cost {
                color: $main-color;
                margin-bottom: 2rem;
            }
        
            .sizeList {
                font-weight: 600;
                margin-bottom: 1rem;
            }
        
            .sizes {
                display: flex;
                gap: 1rem;
        
                p {
                    font-size: 1.75rem;
                }
            }
    
            .infoButton {
                margin: 2rem;
            }
        }
    
        button {
            width: 300px;
            height: 65px;
            font-size: 2.25rem;
            font-family: 'Segoe UI';
            background-color: $main-color;
            border-radius: 0px;
            text-transform: none;
        }
    
        button:hover {
            background-color: $main-color-hover;
        }
    }

    .card:hover {
        transform: translateY(-7.5px);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
}

@media screen and (max-width: 659px) {
    .productCard {
        max-width: 200px;
        margin-bottom: 4rem;

        .card {
            img {
                height: 200px;
                width: 200px;
            }
    
            .cardContent {
                padding: .5rem;
        
                h5 {
                    font-size: 1.8rem;
                    margin-bottom: .25rem;
                }
    
                h6 {
                    font-size: 1.6rem;
                    margin-bottom: 1.5rem;
                }
    
                .excerpt {
                    display: none;
                }
    
                .cost {
                    margin-bottom: 1.5rem;
                }
            
                .sizes {
                    p {
                        font-size: 1.6rem;
                    }
                }
            }
    
            button {
                width: 200px;
                height: 50px;
                font-size: 2rem;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .productCard {
        max-width: 47vw;
        margin-bottom: 2rem;

        .card {
            img {
                height: 47vw;
            }
    
            .cardContent {
                max-width: 47vw;
                padding: .1rem;
    
                h5 {
                    font-size: 1.65rem;
                }
    
                h6 {
                    font-size: 1.5rem;
                }
    
                .sizes {
                    p {
                        font-size: 1.5rem;
                    }
                }
            }
    
            button {
                width: 47vw;
                height: 12.5vw;
                font-size: 1.65rem;
            }
        }
    }
}