@import '../../../../styles/variables.module.scss';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  padding: 10rem 0 3rem 0;
  border-top: 1px solid $light-grey;

  .footerWrapper {
    display: flex;
    gap: 7.5rem;
    padding-bottom: 10rem;
    margin: 0 2.5rem;

    ul {
      list-style: none;
      padding: 0;
      color: $main-color;

      li {
        h5 {
          max-width: 100%;
          font-size: 1.75rem;
          font-weight: 500;
          padding-bottom: 1rem;
          margin-bottom: 2rem;
          border-bottom: 1px solid $light-grey;
        }

        h6 {
          font-size: 1.5rem;
        }

        a, p {
          font-size: 1.25rem;
        }
      }
    }
  }

  .paymentMethods {
    border-top: 1px solid $light-grey;
    display: flex;
    gap: 1rem;
    margin: 0 2.5rem;
    padding-top: 1.5rem;
  }
}

@media screen and (max-width: 950px) {
  .footer {
    padding: 7.5rem 0;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    padding: 5rem 0;
    .footerWrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-bottom: 5rem;

      ul {
        padding: 0;
        margin: 0;

        li{
          text-align: center;

          h5 {
            font-size: 2rem;
          }
  
          h6 {
            font-size: 1.75rem;
          }
  
          a {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}