@import '../../../../styles/variables.module';

.hero {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.2) 100%), url('https://images.unsplash.com/photo-1422976280096-9126a41f9e2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            color: white;
            text-align: center;
            margin-bottom: 1rem;
        }

        .button {
            background-color: $main-color;
            border-radius: 0;
            transition: background-color .5s ease;
        }

        .button:hover {
            background-color: $main-color-hover;
        }
    }
}

@media screen and (max-width: 1300px) {
    .hero {
        .container {
            h1 {
                font-size: 6rem;
            }

            .button {
                height: 50px;
                width: 175px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .hero {
        .container {
            h1 {
                font-size: 5rem;
            }
            
            .button {
                height: 45px;
                width: 150px;
                font-size: 1.75rem;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .hero {
        .container {
            h1 {
                font-size: 4rem;
                margin: 0 5rem .5rem 5rem;
            }
            
            .button {
                height: 40px;
                width: 125px;
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 693px) {
    .hero {
        .container {
            h1 {
                margin: 0 0 .5rem 0;
                max-width: 40rem;
            }
        }
    }
}

@media screen and (max-width: 439px) {
    .hero {
        .container {
            h1 {
                font-size: 9vw;
            }
        }
    }
}