@import '../../../../styles/variables.module';

.header {
    background-color: none;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2000;
    transition: background-color .5s ease;

    .wrapper {
        margin: 0 auto;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 0;
            padding: 0;
            list-style: none;
            color: white;

            li {

                h1 {
                    font-size: 3rem;
                    padding: 2.65rem 2rem;
                    cursor: pointer;
                    transition: padding .5s ease;
                }

                .midButtons {
                    display: flex;
                    color: white;
                    font-weight: 600;
                    transition: color .3s ease;

                    p {
                        margin: 0;
                        font-size: 1.75rem;
                        padding: 3.65rem 2rem;
                        transition: padding .5s ease;
                        cursor: pointer;
                    }
                }

                .iconList {
                    display: flex;
                    
                    .icon {
                        margin: 3.65rem 1.5rem;
                        height: 100%;
                        width: 2.5rem;
                        cursor: pointer;
                        transition: margin .5s ease;
                    }

                    .iconLink {
                        margin: 0 1.5rem;
                        height: 100%;
                        width: 2.5rem;
                        cursor: pointer;
                        transition: margin .5s ease;
                    }
                }
            }
        }
    }
}

.header2 {
    position: fixed;
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2000;
    transition: background-color .5s ease;

    .wrapper {
        margin: 0 auto;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 0;
            padding: 0;
            list-style: none;
            color: $main-color;

            li {

                h1 {
                    font-size: 3rem;
                    padding: calc((2.65rem / 4) * 3) 2rem;
                    cursor: pointer;
                    transition: all .5s ease;
                }

                h1:hover {
                    color: $main-color-hover;
                }

                .midButtons {
                    display: flex;
                    color: $main-color;
                    font-weight: 600;
                    transition: color .3s ease;

                    p {
                        margin: 0;
                        font-size: 1.75rem;
                        padding: calc((3.65rem / 4) * 3) 2rem;
                        transition: all .3s ease;
                        cursor: pointer;
                    }

                    p:hover {
                        color: $main-color-hover;
                    }

                    
                }

                .iconList {
                    display: flex;
                    
                    .icon {
                        margin: calc((3.65rem / 4) * 3) 1.5rem;
                        height: 100%;
                        width: 2.5rem;
                        cursor: pointer;
                        transition: all .5s ease;
                    }

                    .iconLink {
                        margin: 0 1.5rem;
                        height: 100%;
                        width: 2.5rem;
                        cursor: pointer;
                        transition: all .5s ease;
                    }

                    .icon:hover, .iconLink:hover {
                        color: $main-color-hover;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .header {
        .wrapper {
            ul {
                li {
                    .midButtons {
                        display: none;
                    }
                }
            }
        }
    }

    .header2 {
        .wrapper {
            ul {
                li {
                    .midButtons {
                        display: none;
                    }
                }
            }
        }
    }
}