/* Color variables */
$main-color: #464d55;
$main-color-hover: rgb(96, 106, 119);
$light-grey: rgba(0, 0, 0, 0.15);
$bg-color: #FFF;
$footer-color: #464d55;

/* Measuring variables */
$max-width: 1320px;
$max-width-three-rows: 990px;
$max-width-two-rows: 660px;