/* Color variables */
$main-color: #ad9d81;
$main-color-hover: #c2af90;
$text-color-grey: #404040;
$bg-color: #F5F5F5;
$footer-color: #f5f0e5;

/* Measuring variables */
$max-width: 1320px;
$max-width-three-rows: 990px;
$max-width-two-rows: 660px;